[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
mlflow = "*"
scikit-learn = "*"
boto3 = "*"
prefect = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
